Repository Masclins/signepedia, pull requests merged in 2018-05, with the labels that each got.

#44 Nous vídeos
  backend/diccionari.csv
  videos/adreça.mp4
  videos/apunts.mp4
  videos/assegurança.mp4
  videos/assignatures.mp4
  videos/aula.mp4
  videos/beca.mp4
  videos/classe.mp4
  videos/curs.mp4
  videos/grau.mp4
  videos/horari.mp4
  videos/llibre.mp4
  videos/màster.mp4
  videos/notes.mp4
  videos/postgrau.mp4
  videos/sala.mp4
Labels: vocabulari

#45 Tests videos locals
  backend/cercador/test_cercador.py
Labels: backend

#48 Docker compose
  README.md
  backend/Dockerfile
  docker-compose.yml
  docs/CONTRIBUTING.md
  docs/LICENSE
  docs/README.md
  frontend/Dockerfile
  frontend/main.js
Labels: backend, frontend

#55 Paraules Pendents
  .gitignore
  paraules_pendents.txt
  scripts_R/ordenar_alfabeticament.R
  scripts_R/scripts.R
Labels: vocabulari

#64 Tests a Docker-Compose
  .travis.yml
  backend/test_api.py
  docs/CONTRIBUTING.md
Labels: backend

#65 Corrector integrat
  backend/cercador/cercador.py
  backend/cercador/languagetool.py
  backend/cercador/test_cercador.py
  backend/cercador/test_languagetool.py
  frontend/public/css/style.css
  frontend/spec/obte_codi_html-spec.js
  frontend/src/obte_codi_html.js
  frontend/views/index.ejs
Labels: backend, frontend, vocabulari

#68 Reordre del backend i scripts
  .gitignore
  backend/api.py
  backend/cercador/cercador.py
  backend/cercador/languagetool.py
  backend/cercador/test_cercador.py
  backend/cercador/test_languagetool.py
  backend/cercador/test_thesaurus.py
  backend/cercador/thesaurus.py
  backend/diccionari.csv
  backend/src/__init__.py
  backend/src/cercador.py
  backend/src/corrector.py
  backend/src/signepedia.py
  backend/src/sinonims.py
  backend/src/test_cercador.py
  backend/src/test_corrector.py
  backend/src/test_signepedia.py
  backend/src/test_sinonims.py
  paraules_pendents.txt
Labels: backend

#70 canvis fins la f
  backend/diccionari.csv
Labels: vocabulari

#71 Neteja del codi
  backend/Dockerfile
  backend/diccionari.csv
  backend/src/api.py
  backend/src/cercador.py
  backend/src/corrector.py
  backend/src/signepedia.py
  backend/src/sinonims.py
  backend/test/test_cercador.py
  backend/test/test_corrector.py
  backend/test/test_signepedia.py
  backend/test/test_sinonims.py
  frontend/spec/creaHTML-spec.js
  frontend/spec/obte_codi_html-spec.js
  frontend/src/creaHTML.js
  frontend/src/obte_codi_html.js
  paraules_pendents.txt
Labels: backend, frontend

#75 Tests del diccionari
  backend/test/test_diccionari.py
  paraules_pendents.txt
  scripts/scripts.R
Labels: backend

#74 modificar paraules repetides
  backend/diccionari.csv
Labels: vocabulari

#80 Pujar videos des del frontend
  .gitignore
  frontend/package.json
  frontend/src/main.js
  frontend/views/index.ejs
  frontend/views/pujar_video.ejs
Labels: frontend, nova funcionalitat

#85 Cleanup Frontend
  .gitignore
  backend/src/cercador.py
  frontend/package-lock.json
  frontend/public/css/style.css
  frontend/spec/creaHTML-spec.js
  frontend/spec/estil-spec.js
  frontend/spec/obte_codi_html-spec.js
  frontend/src/creaHTML.js
  frontend/src/estil.js
  frontend/src/main.js
  frontend/src/obte_codi_html.js
  frontend/src/rest_requests.js
  frontend/views/index.ejs
  scripts/elimina_BOM
Labels: frontend

#89 Password
  .gitignore
  docs/README.md
  frontend/src/main.js
  frontend/src/rest_requests.js
  frontend/views/pujar_video.ejs
Labels: frontend

#90 Paraules alternatives com enllaç
  frontend/public/css/style.css
  frontend/spec/creaHTML-spec.js
  frontend/spec/estil-spec.js
  frontend/src/creaHTML.js
  frontend/src/estil.js
Labels: frontend, nova funcionalitat

#91 Millora els estàndars del codi
  backend/src/cercador.py
  backend/src/corrector.py
  backend/src/signepedia.py
  backend/src/sinonims.py
  backend/test/test_cercador.py
  backend/test/test_diccionari.py
  backend/test/test_signepedia.py
  frontend/spec/creaHTML-spec.js
  frontend/spec/estil-spec.js
  frontend/src/creaHTML.js
  frontend/src/estil.js
  frontend/src/main.js
  frontend/src/rest_requests.js
Labels: backend, frontend

#92 Autor
  backend/test/test_cercador.py
  frontend/spec/creaHTML-spec.js
  frontend/src/creaHTML.js
  frontend/src/main.js
  frontend/src/rest_requests.js
Labels: frontend

#94 Cerca de majúscules
  backend/diccionari.csv
  backend/src/cercador.py
  backend/src/corrector.py
  backend/src/signepedia.py
  backend/test/test_cercador.py
  backend/test/test_corrector.py
  backend/test/test_diccionari.py
  backend/test/test_signepedia.py
  docs/CONTRIBUTING.md
Labels: backend, nova funcionalitat, vocabulari

#83 Interrogant
  frontend/src/main.js
  frontend/src/rest_requests.js
Labels: frontend

#107 Nou sistema de cerques
  backend/diccionari.csv
  backend/src/cercador.py
  backend/src/corrector.py
  backend/src/signepedia.py
  backend/src/sinonims.py
  backend/test/test_cercador.py
  backend/test/test_diccionari.py
  backend/test/test_signepedia.py
  docs/CONTRIBUTING.md
  docs/README.md
  frontend/spec/creaHTML-spec.js
  frontend/src/creaHTML.js
  frontend/src/rest_requests.js
  paraules_pendents.txt
  scripts/executa_scripts.R
  scripts/scripts.R
Labels: backend, frontend, nova funcionalitat, vocabulari

#120 Vocabulari6
  backend/diccionari.csv
  frontend/public/videos/Consell Comarcal.mp4
  frontend/public/videos/Correus.mp4
  frontend/public/videos/Departament d'Ensenyament.mp4
  frontend/public/videos/Departament d'afers socials, treball i família.mp4
  frontend/public/videos/Departament.mp4
  frontend/public/videos/Diputació.mp4
  frontend/public/videos/Generalitat de Catalunya.mp4
  frontend/public/videos/Hisenda.mp4
  frontend/public/videos/Oficina d'Atenció Ciutadana.mp4
  frontend/public/videos/Oficina de Treball.mp4
  frontend/public/videos/Serveis Socials.mp4
  frontend/public/videos/ajuntament.mp4
  frontend/public/videos/bocabadat.mp4
  frontend/public/videos/buscar (urgència).mp4
  frontend/public/videos/colpejar.mp4
  frontend/public/videos/complet.mp4
  frontend/public/videos/conjunt.mp4
  frontend/public/videos/contagiar.mp4
  frontend/public/videos/desobeir.mp4
  frontend/public/videos/durada.mp4
  frontend/public/videos/encara no.mp4
  frontend/public/videos/encara.mp4
  frontend/public/videos/enganyar-me.mp4
  frontend/public/videos/enganyar-te.mp4
  frontend/public/videos/esgotat.mp4
  frontend/public/videos/falta.mp4
  frontend/public/videos/fer (general).mp4
  frontend/public/videos/fer manualment.mp4
  frontend/public/videos/fer.mp4
  frontend/public/videos/flipar.mp4
  frontend/public/videos/fumar.mp4
  frontend/public/videos/injectar.mp4
  frontend/public/videos/lingüística.mp4
  frontend/public/videos/luxe.mp4
  frontend/public/videos/m'informes.mp4
  frontend/public/videos/malament (general).mp4
  frontend/public/videos/oficina.mp4
  frontend/public/videos/propens.mp4
  frontend/public/videos/quasi.mp4
  frontend/public/videos/revolució.mp4
  frontend/public/videos/t'informo.mp4
  frontend/public/videos/vens.mp4
  frontend/public/videos/vinc.mp4
Labels: vocabulari

#96 Llicència
  LICENSE.md
  frontend/public/css/style.css
  frontend/src/main.js
  frontend/views/index.ejs
  frontend/views/privadesa.ejs
  frontend/views/pujar_video.ejs
  frontend/views/termes.ejs
Labels: discussió, frontend, important

#125 Autocompletar
  docs/CODEOWNERS
  frontend/views/pujar_video.ejs
Labels: frontend, nova funcionalitat

#130 Google
  frontend/package.json
  frontend/src/main.js
  frontend/src/sitemap.js
  frontend/views/index.ejs
Labels: frontend

#131 Correcció bug
  backend/diccionari.csv
  frontend/spec/creaHTML-spec.js
  frontend/src/creaHTML.js
  frontend/src/rest_requests.js
  frontend/views/privadesa.ejs
  frontend/views/pujar_video.ejs
  frontend/views/termes.ejs
Labels: bug, frontend

#132 Mostra sempre els sinònims
  backend/src/corrector.py
  backend/src/signepedia.py
  backend/src/sinonims.py
  backend/test/test_signepedia.py
  backend/test/test_sinonims.py
Labels: backend

#144 BUG: Soluciona error en l'enviament de vídeos
  .gitignore
  frontend/src/rest_requests.js
Labels: bug, frontend

#152 Youtube
  .gitignore
  LICENSE.md
  backend/diccionari.csv
  backend/test/test_cercador.py
  backend/test/test_diccionari.py
  backend/test/test_signepedia.py
  docs/README.md
  frontend/package.json
  frontend/spec/creaHTML-spec.js
  frontend/spec/main-spec.js
  frontend/src/creaHTML.js
  frontend/src/main.js
  frontend/src/rest_requests.js
  frontend/src/youtube.js
  frontend/views/index.ejs
  frontend/views/privadesa.ejs
  frontend/views/pujar_video.ejs
  frontend/views/termes.ejs
  paraules_pendents.txt
  scripts/executa_scripts.R
  scripts/scripts.R
Labels: ajuda necessària, discussió, frontend, important

#136 MySQL
  .gitignore
  backend/Dockerfile
  backend/diccionari.csv
  backend/src/api.py
  backend/src/cercador.py
  backend/src/corrector.py
  backend/src/db.py
  backend/src/dictionary/corrector.py
  backend/src/dictionary/counter.py
  backend/src/dictionary/searcher.py
  backend/src/dictionary/signepedia.py
  backend/src/dictionary/synonyms.py
  backend/src/register.py
  backend/src/signepedia.py
  backend/src/sinonims.py
  backend/src/unvalidated.py
  backend/test/dictionary/__init__.py
  backend/test/dictionary/test_corrector.py
  backend/test/dictionary/test_counter.py
  backend/test/dictionary/test_searcher.py
  backend/test/dictionary/test_signepedia.py
  backend/test/dictionary/test_synonyms.py
  backend/test/test_cercador.py
  backend/test/test_corrector.py
  backend/test/test_diccionari.py
  backend/test/test_register.py
  backend/test/test_signepedia.py
  backend/test/test_sinonims.py
  backend/test/test_unvalidated.py
  docker-compose.yml
  docs/CODEOWNERS
  docs/CONTRIBUTING.md
  docs/README.md
  frontend/spec/creaHTML-spec.js
  frontend/spec/createHTML-spec.js
  frontend/spec/estil-spec.js
  frontend/spec/style-spec.js
  frontend/src/creaHTML.js
  frontend/src/createHTML.js
  frontend/src/estil.js
  frontend/src/handler.js
  frontend/src/main.js
  frontend/src/rest_requests.js
  frontend/src/style.js
  frontend/src/youtube.js
  frontend/views/index.ejs
  frontend/views/pujar_video.ejs
  frontend/views/termes.ejs
  frontend/views/validar.ejs
  scripts/executa_scripts.R
  scripts/scripts.R
  scripts/scripts_R.Rproj
Labels: backend, discussió, important

#160 Bug
  backend/src/unvalidated.py
  backend/test/test_unvalidated.py
  frontend/src/handler.js
  frontend/src/youtube.js
  frontend/views/pujar_video.ejs
  frontend/views/validar.ejs
Labels: bug
